.App {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
}

.app__form {
  display: flex;
  gap: 0.5rem;
}

.app__input {
  flex: 0 0 80%;
}

.app__btn {
  flex: 0 0 20%;
}

.app__list {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
.app__list li::before {
  content: "\2192";
  color: chocolate;
}

.app__list li {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.app__list li span {
  border-bottom: 1px solid lightgray;
  flex: 0 0 60%;
}

.app__btn--edit,
.app__btn--delete {
  margin-left: auto;
}
